node_modules
pom.xml
pom.xml.asc
*jar
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
target
out
npm-debug.log
*.tgz



lib/debug/cljs
lib/debug/clojure
lib/debug/com
lib/debug/goog
lib/debug/constants_table.*
lib/debug/d*.*
lib/debug/[0-9A-F][0-9A-F]*js
lib/release/cljs
lib/release/clojure
lib/release/com
lib/release/goog
lib/release/constants_table.*
lib/release/d*.*
lib/release/[0-9A-F][0-9A-F]*js
